.LoginContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    border-width: 1px 0 0 0;
    padding: 20px;
}

.StatusMessage {
    width: 200px;
    height: 75px;
    padding-bottom: 5px;
}
.IpInputBox {
    height: 25px;
    width: 200px;
    margin-top: 10px;
    font-size: 20px;
    padding: 3px;
}

.SubmitButton  {
    height: 35px;
    width: 150px;
    margin-top: 10px;
    color: white;

}